.dark-mode {
    background-color: black;
    color: white;
  }

.container {
     cursor: url(cursor/leaf.svg), auto;
}

body {
    font-family: arial, sans-serif;
}

.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20 px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px 15px 30px;
    margin: 20px auto;
    color: rgb(50, 25, 79);
    border-radius: 50px;
    border: 1px solid rgb(50, 25, 79);
    box-shadow: 3px 3px 2px #c8c5cf;
    transition: all 150ms ease-in-out;
    font-size: medium;
    cursor: url(cursor/leaf.svg), auto;
  }

h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28.8px;
}

li {
    list-style: none;
    color: (135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

.button:hover {
    cursor: url(cursor/leaf.svg), auto;
}
