body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
  }

.container {
    display: flex;   
}

.box {
    height: 100vh;
    width: 100%
}

.leaf {
     cursor: url(cursor/leaf.svg), auto;
}
